name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  release:
    types: [published]

jobs:
  macos:
    runs-on: macOS-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: SPM tests
      run: |
        swift --version
        swift test

  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tag:
          - swift:5.5
          - swift:5.6
          - swift:5.7
    container:
      image: ${{ matrix.tag }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Test
      run: |
        swift --version
        swift test
